---
layout: bare
title: "Linux App Summit 2022"
permalink: /
---

<img src="assets/LAS2022-WebBanner-text.svg" style="margin: 0" />

<hr/>
<div class="las-banner" style="background-color: #121b86">
    <h2>ABOUT</h2>
    <p>
        The Linux App Summit (LAS) brings the global Linux community together to learn, collaborate, and help grow the Linux application ecosystem. Through talks, panels, and Q&amp;A sessions, we encourage attendees to share ideas, make connections, and join our goal of building a common app ecosystem.
    </p>

    <button class="button" onclick="window.location.href='/whatis'">Read More</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black;">
    <h2>JOIN US</h2>
    <p>LAS 2022 will be held virtually and in person in [Rovereto, Italy](https://www.openstreetmap.org/#map=14/45.8879/11.0333). While this conference will be held during Central European Time (CET), everyone is welcome to participate and attend!</p>

    <p>Registration for LAS 2022 will be open soon. (There is no cost to attend LAS, but registration is required. To watch and participate in the event you'll need to login to our conference platform using a password-protected link. You'll receive this link after registering.)</p>

    <p>We also welcome attendees to join the <a href="https://t.me/joinchat/Dbb0PlJjx4tPFCSu2dd7PA">LAS Telegram channel</a> and follow LAS on Twitter <a href="https://twitter.com/LinuxAppSummit">@linuxappsummit</a>. Remember to use our hashtag: <a href="https://twitter.com/search?q=%23las2022&amp;src=typed_query">#LAS2022</a>. Videos from LAS will be live-streamed on our <a href="https://www.youtube.com/channel/UCjSsbz2TDxIxBEarbDzNQ4w">YouTube channel</a>.</p>

    <button class="button" onclick="window.location.href='https://conf.linuxappsummit.org/event/3/registrations/6/'">Register</button> <button class="button" onclick="window.location.href='https://conf.linuxappsummit.org/event/3/timetable/#all'">Program</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black">
    <h2>KEYNOTE SPEAKERS</h2>
</div>


<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>SPONSORS</h2>
    <div class="sponsors">
        <img src="/assets/canonical.png" alt="Canonical" />
        <img src="/assets/jingling.png" alt="JingLing"/>
        <img src="/assets/collabora.svg" alt="Collabora"/>
        <img src="/assets/codethink.svg" alt="Codethink"/>
        <img src="/assets/opensuse.png" alt="openSUSE"/>
        <img src="/assets/mbition.svg" alt="MBition"/>
        <img src="/assets/fedora.svg" alt="Fedora"/>
        <img src="/assets/tuxedo.svg" alt="Tuxedo" />
        <img src="/assets/pine.png" alt="Pine64"/>
        <img src="/assets/shells.png" alt="Shells"/>
        <img src="/assets/slimbook.svg" alt="Slimbook"/>
        <img src="/assets/gitlab.svg" alt="GitLab"/>
        <img src="/assets/redhat.png" alt="Red Hat" />
        <img src="/assets/itrenew.jpg" alt="ITRenew"/>
    </div>
    <button class="button" onclick="window.location.href='/sponsors'">Learn More</button>
</div>

<hr/>
